<a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
  <span class="material-symbols-outlined">home</span>
</a>
<a routerLink="/profile" routerLinkActive="active-link">
  <span class="material-symbols-outlined">person</span>
</a>
<a routerLink="/material" routerLinkActive="active-link">
  <span class="material-symbols-outlined">chat_bubble</span>
</a>
<a routerLink="">
  <span class="material-symbols-outlined">book</span>
</a>
<a routerLink="">
  <span class="material-symbols-outlined">dark_mode</span>
</a>
