//Fonts:
$ff: 'Roboto', sans-serif;


//Color:
$white:#ffffff;
$black: #000;
$title: #001A49;
$text: #4F596A;



//Transition:
$transition: all .4s ease-in-out;


//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
