<div class="side">
  <div class="side__title">Strong side<span>:</span></div>
  <div class="side__list _green">
    <a href="#" class="side__item">Analytics</a>
    <a href="#" class="side__item">Perfectionism</a>
    <a href="#" class="side__item">Analytics</a>
  </div>
</div>

<div class="side">
  <div class="side__title">Strong side<span>:</span></div>
  <div class="side__list _pink">
    <a href="#" class="side__item">Perfectionism</a>
    <a href="#" class="side__item">Analytics</a>
  </div>
</div>
